<!DOCTYPE html>
<html>
    <head>
        <title>404</title>
        <link rel="icon" href="/images/images.png">
    </head>
    <body>
        <div class="main-content">
        {{>header}}

        <p>{{message}}</p>
        </div>

        {{>footer}}
    </body>
</html>