<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
        <link rel="icon" href="/images/images.png">
        <link rel="stylesheet" href="/css/style.css">
        
    </head>
    <body>
        <div class="main-content">
        {{>header}}

        
        <p>Use This Site To Check Weather! </p>
        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>
        <p id="message-0"></p>
        <p id="message-1"></p>
        
        </div>


        <p>This Site Will Get Your Desired Weather Within Few Clicks</p>
        {{>footer}}
        <script src="/js/app1.js"></script>
    </body>
</html>